@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  background:#020617;
  color:white;
  font-family:Inter,sans-serif;
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}
.font-heading {
  font-family: "Sora", sans-serif;
}

.font-body {
  font-family: "Inter", sans-serif;
}

.font-letter {
  font-family: "Dancing Script", cursive;
}

@keyframes glow {

  0%{
    text-shadow:0 0 10px #ec4899;
  }

  50%{
    text-shadow:0 0 30px #8b5cf6;
  }

  100%{
    text-shadow:0 0 10px #06b6d4;
  }

}

.glow{

  animation: glow 4s infinite;

}